@import "../../assets/styles/colors-variables";
.workTime{
    position: relative;
    width: 142px;
    height: 80px;
    background-color: $grey-lightest;
    text-align: center;
}
.timeValue{
    position: relative;
    top: 12px;
    color: $secondary-color;
}
.lableValue{
    position: relative;
    width: 94px;
    top: 14px;
    left:24px;
    color: $grey-dark;
}