@import "../../assets/styles/colors-variables";

input {
    width: 60px;
    height: 32px;
    text-align: center;
    color: $grey-dark;
    border: 1px solid $grey-light;
    border-radius: 4px;
}
input:focus { 
    outline: none !important;
    border: 1px solid $primary-action;
}