label > input[type="radio"] {
  display: none;
}
label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #bcbcbc;
}
label.disable > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #e8e7e7;
}
label > input[type="radio"]:checked + * {
  color: #52b6c3;
}
label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#52b6c3 0%, #52b6c3 50%, transparent 60%, transparent);
  border-color: #52b6c3;
}

label > input[type="radio"] + * {
  display: inline-block;
  padding-right: 20px;
}

.radio-button-label-text {
  transform: translate(20px, -16px);
  margin-right: 20px;
}

.radio.item {
  &.inline {
    display: flex;
    padding: 5px 5px 5px 5px;
  }
}
.radio-button {
  line-height: 16px !important;
  label {
    line-height: 16px;
  }
}
.rxs {
  display: inline;
}

.radioBtnGrpLabel {
  margin: 0 16px;
}
