.btn-style {
  border: 0.5px solid #e3e3e3;
  background-color: white;
  border-radius: 4px;
}
.select-btn-style {
  background-color: #f2faff;
  border: 0.5px solid #52b6c3;
  border-radius: 4px;
}
.daySlot {
  padding: 8px;
  width: 46px;
  height: 32px;
  margin-right: 4px;
}
.timeSlot {
  width: 83px;
  height: 48px;
  margin-right: 4px;
}
.providerSlot,
.hygienistSlot {
  min-width: 83px;
  height: 32px;
  padding: 8px;
  margin-bottom: 4px;
  margin-right: 4px;
}
.roomSlot {
  min-width: 85px;
  height: 32px;
  padding: 8px;
  margin-bottom: 4px;
  margin-right: 4px;
}
