@import "../../assets/styles/colors-variables";
.group-container {
  .group-title {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .btn-customer {
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }
}
