@import "../../assets/styles/colors-variables";

.appointment-detail-times {
  display: flex;
  height: 32px;
  // min-width: 258px;
  // max-width: fit-content;
  background-color: $white;
  color: black;
  border: none;
  flex-grow: 1;
  justify-content: space-between;
  .date-times {
    display: flex;
    flex-direction: column;
    // flex: 80%;
    max-width: fit-content;
    align-self: center;
    &>* {
      white-space: nowrap;
    }
  }
  .wrapper-icons {
    display: flex;
  }
  .icon {
    width: 12.56px;
    height: 12.56px;
    margin: 0 8px;
    path {
      fill:$grey-medium
    }
  }
}
