@import "./assets/styles/base";

html, body {
  height:100%;
}

body {
  margin: 0;
  background-color: $screen-background !important;
  font-family: OpenSans-Regular, sans-serif !important;
  font-size: $base-font-size;
  color: $grey-dark;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-size: $base-font-size;
}

.blockPointerEvent {
  pointer-events: none;
}