@import "../../assets/styles/base";

.datePicker {
  border: 0.5px solid $grey-lighter;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../../assets/icons/noneIcon/datePicker.svg) no-repeat;
}
.storybook-datePicker--enable {
  opacity: 1;
}
.storybook-datePicker--disable {
  opacity: 1;
  color: $grey-lighter;
}
.storybook-datePicker--small {
  border: 0.5px solid $grey-lighter;
  font-size: 12px;
  width: 140px;
  height: 28px;
  border-radius: 4px;
}
.storybook-datePicker--large {
  border: 0.5px solid $grey-lighter;
  font-size: 14px;
  width: 100%;
  height: inherit;
  border-radius: 4px;
}
.calender_selector_container {
  width: 100%;
  height: inherit;
  border: none;
  color: $grey-dark;
  input {
    margin-top: 10px;
    border: none;
    color: rebeccapurple;
  }
}
.react-datepicker {
  border: 0.5px solid $primary-action;
}
.react-datepicker__header {
  background-color: $white;
  border-bottom: 0px;
}
.react-datepicker__current-month {
  font-size: $subtitle-text;
  margin-top: 10px;
}
.react-datepicker__navigation {
  margin-top: 10px;
}
.withLabel {
  width: 100%;
  height: 46px !important;
  margin-right: 20px;
  padding-top: 20px !important;
  padding-left: 14px !important;
  border: 0.5px solid $grey-lighter;
  box-sizing: border-box;
  border-radius: 4px;

  &.error {
    border: 0.5px solid $red !important;
  }
}
.inputDate {
  width: 80px;
  height: 16px;
  position: relative;
  top: -2px;
  font-size: 12px;
}
.topLabel {
  color: $grey-dark;
  position: relative;
  display: flex;
  font-size: 10px;
}

.errorSpan {
  color: $red !important;
  font-size: 10px;
}

.selected {
  margin-right: 5px;
}

.calendar-icon {
  background-image: url("../../assets/icons/noneIcon/onlyCalendar.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  height: 28px;
  cursor: pointer;
}

.textLabel {
  position: absolute;
  z-index: 1;
  margin: 4px 16px;
}

.react-datepicker-popper {
  z-index: 4;
}


input:-ms-input-placeholder {
  /* IE 10+ */
  color: $grey-light !important;
  opacity: 1;
}
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $grey-light !important;
  opacity: 1;
}
input::placeholder {
  /* modern browser */
  color: $grey-light !important;
  opacity: 1;
}

.react-datepicker__month-select{
  border: 0.5px solid $primary-action;
}

.react-datepicker__year-select{
  border: 0.5px solid $primary-action;
}