.buttonLarge {
  width: auto !important;
  height: 40px !important;
  border-radius: 4px !important;
  padding: 8px 12px !important;
}
.buttonSmall {
  width: auto !important;
  height: 28px !important;
  border-radius: 4px !important;
  padding: 8px 12px !important;
}

.buttonPrimary {
  background-color: $primary-action !important;
  color: $white !important;
  border: 0.5px solid $white !important;
  box-sizing: border-box !important;
}
.buttonSecondary {
  background-color: $white !important;
  color: $primary-action !important;
  border: 0.5px solid $primary-action !important;
  box-sizing: border-box !important;
}
.buttonTertiary {
  background-color: $grey-lightest;
  color: $grey-dark;
}
.buttonDisabled {
  background-color: $grey-light;
}


.buttonLarge_padding {
  width: auto !important;
  height: 36px !important;
  border-radius: 4px !important;
  padding: 8px 32px !important;
}