$screen-background: #F6F8FB;
$primary-action: #52B6C3;
$secondary-color: #153E90;
$other1: #F0FDFF;
$other2: #E9F1FF;

$grey-dark: #414141;
$grey-medium: #757575;
$grey-light: #BCBCBC;
$grey-lighter: #E8E7E7;
$grey-lightest: #F7F7F7;

$white: #FFFFFF;
$white-light:#F6F6F6;
$white-light-20-percent: rgba(246, 246, 246, 0.2);
$red: #EB5757;
$green: #27AE60;
$blue: #2F80ED;
$orange: #F2994A;
$yellow: #F2C94C;
$magenta: #C41974;
$blue-light:#F2FAFF;
