//Margin Classes
.margin20 {
  margin: 20px;
}
.margin40 {
  margin: 40px;
}
//margin-left classes
.marginLeft4 {
  margin-left: 4px;
}

.margin-left-6 {
  margin-left: 6px;
}
.marginLeft8 {
  margin-left: 8px;
}
.marginLeft10 {
  margin-left: 10px;
}
.marginLeft15 {
  margin-left: 15px;
}
.marginLeft20 {
  margin-left: 20px;
}

//margin-right classes
.marginRight4 {
  margin-right: 4px;
}
.marginRight5 {
  margin-right: 5px;
}
.marginRight10 {
  margin-right: 10px;
}
.marginRight12 {
  margin-right: 10px;
}
.marginRight16 {
  margin-right: 16px;
}
.marginRight20 {
  margin-right: 20px;
}
.marginRight32 {
  margin-right: 32px;
}

// margin-top classes
.marginTop2 {
  margin-top: 2px;
}
.marginTop4 {
  margin-top: 4px;
}
.marginTop6 {
  margin-top: 6px;
}
.marginTop8 {
  margin-top: 8px;
}
.marginTop10 {
  margin-top: 10px;
}
.marginTop12 {
  margin-top: 12px !important;
}
.marginTop16 {
  margin-top: 16px !important;
}
.marginTop20 {
  margin-top: 20px;
}
.marginTop24 {
  margin-top: 24px !important;
}
.marginTop32 {
  margin-top: 32px !important;
}

//margin-bottom classes
.marginBottom4 {
  margin-bottom: 4px !important;
}
.marginBottom6 {
  margin-bottom: 6px;
}
.marginBottom8 {
  margin-bottom: 8px;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.marginBottom12 {
  margin-bottom: 12px;
}
.marginBottom15 {
  margin-bottom: 15px;
}
.marginBottom16 {
  margin-bottom: 16px;
}
.marginBottom20 {
  margin-bottom: 20px;
}
.marginBottom25 {
  margin-bottom: 25px;
}
.marginBottom32 {
  margin-bottom: 32px;
}

// negative margins

.marginBottom8Neg {
  margin-bottom: -8px !important;
}

.marginBottom24Neg {
  margin-bottom: -24px !important;
}

//Padding Classes
.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.padding25 {
  padding: 25px;
}

.paddingLeft16{
  padding-left: 16px;
}