$spacing--xxs: 5px; // 5px
$spacing--xs: $spacing--xxs * 2; // 10px
$spacing--s:  $spacing--xs * 2; // 20px
$spacing--m:  $spacing--xs * 3; // 30px
$spacing--l: $spacing--xs * 5; // 50px
$spacing--xl: $spacing--xs * 8; // 80px
$spacing--xxl: $spacing--xs * 13; // 130px