.semibold32 {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}
.semibold28 {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38.13px;
}
.semibold24 {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
}
.semibold20 {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.4px;
}
.semibold16 {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.semibold14 {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.semibold12 {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.semibold10 {
  font-family: "OpenSans-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
}
.regular44 {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
}
.regular28 {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}

.regular24 {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32.68px;
}

.regularBold16 {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.regular16 {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.regular14 {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.regular12 {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.regular10 {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}
