$base-font-size: 16px;

// Text Size
$heading-text: 40px;
$heading-medium-text: 32px;
$heading-small-text: 30px;
$subheading-text: 24px;
$title-text: 16px;
$subtitle-text: 14px;
$description-text: 12px;
$small-text: 10px;

// font
$bf-primary-font: OpenSans-Regular;

// Background-color
$bg-white: #fff;
$bg-off-white: #f7f5f0;
$bg-gray: #D7D7D7;

